footer {
    font-family: "Montseratt", sans-serif;
    font-weight: 700;
    text-align: center;
}

.socials {
  /* flex */
    display: none;
    width: 30%;
    max-width: 8rem;
    margin: 0.5rem auto 2rem auto;
    padding: 0;
}

.socials a {
    margin: 0 0.25rem;
}

.cookies {
  font-size: 70%;
  padding: 0.5rem 2rem;
  font-weight: 400;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 1rem;
}