html {
  scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

[id] {
  scroll-margin-top: 5.5rem;
}

button {
    border: none;
    background: inherit;
    color: inherit;
}

button:hover, button:active {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--lch-brand-red);
}

a:hover, a:active {
    color: var(--lch-hover);
}

#contact a, .created {
  text-decoration: underline;
  text-decoration-color: var(--lch-brand-red-transparent);
}

#contact a:hover, #contact a:active,
.created:hover, .created:active {
  text-decoration-color: var(--lch-hover)
}

h1, h2 {
    color: var(--lch-brand-red);
    text-shadow: 1px 1px 1px white;
}

h1, h2, h3, p, a {
    text-shadow: 1px 1px 1px white;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}


img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

section {
    padding: 1rem 2rem;
}

article {
    margin-top: 3rem;
}

figure {
    margin: 1.5rem 0;
}

footer {
    text-align: center;
}

@media (min-width: 780px) {
    h1 {
        font-size: 3.5rem;
    }
}