[id] {
  scroll-margin-top: 4rem;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background: var(--lch-creme);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

button {
    border: none;
    background: inherit;
    color: inherit;
}

button:hover, button:active {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: var(--lch-brand-red);
}

img {
    max-width: 100%;
}

section {
    padding: 1rem 2rem;
}

dl, dt, dd {
    border: 1px solid black;
}

footer {
    text-align: center;
}