html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 400;
    font-optical-sizing: auto;
}

.app {
    background: var(--lch-row-even);
}

[id] {
  scroll-margin-top: 5rem;
}

button {
    border: none;
    background: inherit;
    color: inherit;
}

button:hover, button:active {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--lch-brand-red);
    font-weight: 600;
}

a:hover, a:active {
    color: var(--lch-hover);
}

h1 {
    font-size: clamp(2.5rem, 4vw, 15rem);
    font-family: 'Titan One', 'Montserrat', sans-serif;
    color: var(--lch-brand-red);

    margin-top: 0.5rem;
    padding: 0.75rem 2.5rem;
}

h2 {
    font-size: clamp(1.3rem, 1.5vw, 3rem);
}

h4 {
    padding-top: 0.25rem;
}

h3, h4 {
    margin-bottom: 0;
}

h1, h2, h3, h4 {
    color: var(--lch-brand-red);
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

article {
    margin-top: 3rem;
    border-top: 1px solid var(--lch-light-grey);
}

figure {
    margin: 1.5rem 0;
}