body{
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-image: linear-gradient(
        var(--lch-purple-lighter), 
        var(--lch-purple)
        );
}

button {
    border: none;
}

button:hover, button:active {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.feature {
    padding: 1rem;
}

footer {
    text-align: center;
}