body{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-image: linear-gradient(
    var(--lch-purple-lighter), 
    var(--lch-purple)
    );
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

button {
    border: none;
    background: inherit;
}

button:hover, button:active {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    padding: 1rem 2rem;
}

footer {
    text-align: center;
}