html {
  scroll-behavior: smooth;
}

body {
    font-family: "Titan One", "Montserrat", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
}

[id] {
  scroll-margin-top: 5.5rem;
}

button {
    border: none;
    background: inherit;
    color: inherit;
}

button:hover, button:active {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--lch-brand-red);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

a:hover, a:active {
    color: var(--lch-hover);
}

h1, h2, h3, h4 {
    color: var(--lch-brand-red);
    font-weight: 400;
}

h1 {
    font-size: clamp(2rem, 2vw, 10rem);
    margin-top: 0.5rem;
    padding: 0 2.5rem;
}

h2 {
    font-size: clamp(0.75rem, 1.5vw, 7rem);
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

section {
    padding: 1rem 2rem;
}

article {
    margin-top: 3rem;
}

figure {
    margin: 1.5rem 0;
}

.has-box-shadow {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
}

.has-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.has-text-center {
    text-align: center;
}

@media (min-width: 780px) {
    h2 {
        font-size: 2rem;
    }
}