.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    
    background: var(--lch-brand-red);
    color: white;
}

#menu-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--lch-transparent-grey);
}

#menu {
    height: 100%;
    width: 80%;
    background: wheat;
    padding: 2rem;
    color: white;
}

.logo {
    width: 20%;
}

#telephone {
    color: inherit;
}

#about {
    background-image: url('../assets/images/5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}