header {
    font-family: "Titan One", "Montseratt", sans-serif;
    color: var(--lch-brand-red);

    display: flex;
    justify-content: end;

    height: 92vh;
    width: 100%;
    background-image: url('../assets/images/IMG_2292.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0.1rem 0.05rem 0.2rem var(--lch-vanilla);
}

#menu-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--lch-transparent-grey);
}

#menu {
    height: 100%;
    width: 80%;
    max-width: 33rem;
    background: wheat;
    padding: 2rem;
    color: white;
}

#menu h2 {
    font-size: 2rem;
    margin-top: 0;
}

.header-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1, header h2, header a {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
}

header h2 {
    padding: 1.5rem;
    padding-left: min(5rem, 17%);

    font-size: clamp(1.1rem, 1.5vw, 7rem);
    text-align: right;
}

header a {
    width: 100%;

    margin-bottom: 2rem;
    padding: 1rem;

    font-family: "Titan One", "Montseratt", sans-serif;
    font-weight: 400;

}


/* DESKTOP */
@media (min-width: 660px) {
    .header-container {
        justify-content: center;
        align-items: start;
    }

    header h1 {
        max-width: 12ch;
    }

    header h2 {
        max-width: 34ch;
        font-family: 'Montseratt', sans-serif;
        color: #5b5757;
    }

    header h1, header h2 {
        box-shadow: none;
        background: none;
        margin: 0;
        padding: 0;

        text-align: left;
    }

    header a {
        width: auto;
        background: var(--lch-brand-red);
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 50vw;

        color: var(--lch-row-even);
        text-shadow: none;
    }
}