.btn-menu {
    background: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    padding: 1rem;

    background: var(--lch-green);
}

#menu-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--lch-transparent-grey);
}

#menu {
    height: 100%;
    width: 80%;
    background: wheat;
    padding: 2rem;
}

.logo {
    width: 40%;
}