header {
    font-family: "Titan One", "Montseratt", sans-serif;
    color: var(--lch-brand-red);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

    height: 100vh;
    width: 100vw;
    background-image: url('../assets/images/IMG_2292.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0.1rem 0.05rem 0.2rem var(--lch-vanilla);
}

img {
    max-width: clamp(8rem, 15vw, 40rem);
}

h1, h2, .socials {
    padding-right: 0.5rem;
}

h1, h2 {
    padding-left: 50vw;
    font-weight: 400;
}

h1 {
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 10rem);
}

h2 {
    font-size: clamp(0.75rem, 1.5vw, 7rem);
}

.socials {
    margin-bottom: 1rem;
}

.text-decoration-none {
    text-decoration: none;
}

.socials img {
    width: clamp(4rem, 5vw, 15rem);
}

header > :last-child {
  align-self: center;
}

footer {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.7rem, 1vw, 2.5rem);
    text-align: center;
    color: var(--lch-vanilla);
    text-shadow: 0.1rem 0.05rem 0.2rem black;
}

footer a {
    color: var(--lch-anchor-temporary);
}

footer a:hover, footer a:active {
    color: var(--lch-hover);
}

@media (max-width: 689px) {
    .socials {
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
    }
}