header {
    height: 90vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    
    background: var(--lch-brand-red);
    color: white;
}

.navbar button, .navbar svg, .navbar a:not(.logo) {
    width: 100%;
}

#btn-menu, #btn-call {
    color: var(--lch-vanilla);
}

.menu-scrolled {
    width: 8%;
}

.phone-scrolled {
    width: 6%;
}

#menu-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--lch-transparent-grey);
}

#menu {
    height: 100%;
    width: 80%;
    max-width: 33rem;
    background: wheat;
    padding: 2rem;
    color: white;
}

#menu h2 {
    font-size: 2rem;
    margin-top: 0;
}

.logo {
    width: clamp(3rem, 20%, 6rem);
    transition: width 0.3s ease;
}

.logo.scrolled {
    width: clamp(2rem, 12%, 4rem);
}

#telephone {
    color: inherit;
}

#welcome {
    height: 100%;

    background-image: url('../assets/images/5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    text-shadow: 0.08rem 0.08rem 0.08rem black;
}

#welcome article {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}

.care-and-love {
    text-align: center;
    margin-top: 0rem;
    color: var(--lch-vanilla);
}

.care-and-love p {
    margin: 0 6vw;
}

#welcome a {
    margin-top: auto;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-shadow: 0.02rem 0.02rem 0.02rem black;
}

@media (min-width: 780px) {
    .care-and-love p {
        font-size: 1.5rem;
    }

    #welcome a {
        font-size: 1.3rem;
    }
}