.btn-menu {
    background: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    padding: 1rem;

    background: var(--lch-green);
}

/* .menu {
    position: fixed;
} */

.logo {
    width: 40%;
}