/* header {
    height: 90vh;
}

#menu-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--lch-transparent-grey);
}

#menu {
    height: 100%;
    width: 80%;
    max-width: 33rem;
    background: wheat;
    padding: 2rem;
    color: white;
}

#menu h2 {
    font-size: 2rem;
    margin-top: 0;
}

#welcome {
    height: 100%;

    background-image: url('../assets/images/IMG_2292.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 1rem 0.1rem;
    color: var(--lch-brand-red);
    text-shadow: 0.1rem 0.1rem 0.2rem var(--lch-vanilla);
}

#welcome article {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}

.care-and-love {
    display: flex;
    justify-content: end;
    width: 100%;
}

.care-and-love p {
    width: 40%;
    margin-top: 40vw;
}

#welcome a {
    margin-top: auto;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: var(--lch-vanilla);
    text-shadow: 0.05rem 0.05rem 0.05rem black;
}

#welcome a:hover, #welcome a:active {
    color: var(--lch-creme);
}

@media (max-height: 840px){
    #welcome h1 {
        padding: 0 0.5rem;
        font-size: 3rem;
    }

    #welcome article {
        align-items: end;
    }

    #welcome p {
        margin-top: 10vw;
        font-size: 1rem;
    }
}

@media (min-width: 523px) {
    h1 {
        font-size: 4rem;
    }
    .care-and-love p {
        font-size: 1.5rem;
        margin-top: 30vw;
    }
}

@media (min-width: 780px) {

    #welcome a {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 6rem;
    }
}

@media (min-width: 2000px) {
    h1 {
        font-size: 7rem;
    }

    #welcome p {
        font-size: 3rem;
    }
} */

header {
    font-family: "Titan One", "Montseratt", sans-serif;
    color: var(--lch-brand-red);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 89vh;
    width: 100vw;
    background-image: url('../assets/images/IMG_2292.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0.1rem 0.05rem 0.2rem var(--lch-vanilla);
}

#menu-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--lch-transparent-grey);
}

#menu {
    height: 100%;
    width: 80%;
    max-width: 33rem;
    background: wheat;
    padding: 2rem;
    color: white;
}

#menu h2 {
    font-size: 2rem;
    margin-top: 0;
}

img {
    max-width: clamp(8rem, 15vw, 40rem);
}

h1, h2 {
    font-weight: 400;
}

.headers {
    padding-right: clamp(0.5rem, 1vw, 5rem);
    padding-left: 50vw;
}

h1 {
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 10rem);
}

h2 {
    font-size: clamp(0.75rem, 1.5vw, 7rem);
}

.socials {
    margin-bottom: 1rem;
}

.text-decoration-none {
    text-decoration: none;
}

.socials img {
    width: clamp(4rem, 5vw, 15rem);
}

header > :last-child {
  align-self: center;
}