main {
  max-width: 650px;
  margin: auto;
}

#services li a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5.5rem;
  background: var(--lch-brand-red);
  color: var(--lch-creme);
  font-weight: bold;
  padding: 1rem;

  border-radius: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  padding: 0;
  list-style: none;
}

a .thumbnail {
  border-radius: 7%;
}

iframe {
  width: 100%;
  height: clamp(15rem, 80vw, 30rem);
}

a.navigate {
  background: var(--lch-brand-red) !important;
  text-shadow: none !important;
  color: var(--lch-creme) !important;
  padding: 0.75rem;
  border-radius: 1rem;
}

#office-hours {
  width: 95%;
  border-collapse: collapse;
  margin: auto;
  color: #444;
  font-size: 0.9rem;
}

#office-hours thead {
  text-align: center;
  font-size: 0.65rem;
}

#office-hours th:nth-child(1) {
  text-align-last: left;
}

#office-hours tr td {
  text-align: center;
}

#office-hours tr td:nth-child(1) {
  font-weight: bold;
  width: 33%;
  text-align-last: left;
}


table#office-hours tr td, thead {
  border-bottom: 1px solid #444;
}

/* @media (min-width: 900px) {

  main {
    max-width: 1024px;
  }

  #services ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  #services li a {
    min-height: 15vw;

    font-size: 2rem;
    text-align: center;
  }
} */