section:has(.gallery) {
  padding: 1rem 1.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    
    padding: 0;
    list-style: none;
}

a .thumbnail {
    border-radius: 7%;
}

iframe {
  width: 100%;
  height: clamp(15rem, 80vw, 30rem);
}