main {
  max-width: 650px;
  margin: auto;
}

#services li a {
  display: block;
  height: 5.5rem;
  background: var(--lch-green);
  font-weight: bold;
  padding: 1rem;

  border-radius: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  padding: 0;
  list-style: none;
}

a .thumbnail {
  border-radius: 7%;
}

iframe {
  width: 100%;
  height: clamp(15rem, 80vw, 30rem);
}