main {
  max-width: 660px;
  margin: auto;
}

.services-item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 16vh;

  background-image: 
    linear-gradient( 
      to right,
      var(--lch-row-even),
      var(--lch-light-grey)
    );

    border-radius: 0.75rem;
}

.services-item a {
  display: flex;
  align-items: center;
  
  padding-right: 1rem;
  padding-left: 2rem;

  font-size: 1rem;
}

.services-item img {
  flex: 1;
  min-width: 2.5rem;
}

.services-item h2 {
  flex: 6;
  margin: 0;
  text-align: left;
  padding-left: 2rem;
}

.town {
  margin-bottom: 2.5rem;
}

a.navigate {
  background: var(--lch-brand-red);
  padding: 0.75rem;

  border-radius: 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  
  font-size: 0.8rem;
  color: var(--lch-creme);
}

a.navigate:hover, a.navigate:active {
  padding: 0.7rem;
}

iframe {
  width: 100%;
  height: clamp(15rem, 80vw, 30rem);
}

#adress p {
  font-family: "Montseratt", sans-serif;
  font-weight: bold;
}

#office-hours {
  width: 95%;
  border-collapse: collapse;
  margin: auto;

  font-family: "Montserrat", sans-serif;
  color: #444;
  font-size: 0.9rem;
}

#office-hours thead {
  text-align: center;
  font-size: 0.65rem;
}

#office-hours th:nth-child(1) {
  text-align-last: left;
}

#office-hours tr td {
  text-align: center;
}

#office-hours tr td:nth-child(1) {
  font-weight: bold;
  width: 33%;
  text-align-last: left;
}


table#office-hours tr td, thead {
  border-bottom: 1px solid #444;
}

#contact a, .created {
  text-decoration: underline;
  text-decoration-color: var(--lch-brand-red-transparent);
}

#contact a:hover, #contact a:active,
.created:hover, .created:active {
  text-decoration-color: var(--lch-hover)
}

@media (min-width: 564px) {
  .navigate {
    display: none;
  }
}