main {
  max-width: 650px;
  margin: auto;
}

main h2 {
  text-shadow: 0.05rem 0.05rem 0.05rem black;
}

#services li a {
  height: 5.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  
  background: var(--lch-brand-red);
  color: var(--lch-creme);
  font-weight: bold;
  text-shadow: none;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  padding: 0;
  list-style: none;
}

a .thumbnail {
  border-radius: 7%;
}

.town {
  margin-bottom: 2.5rem;
}

a.navigate {
  background: var(--lch-brand-red);
  padding: 0.75rem;

  border-radius: 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  
  font-size: 0.8rem;
  color: var(--lch-creme);
  font-family: "Titan One", sans-serif;
}

iframe {
  width: 100%;
  height: clamp(15rem, 80vw, 30rem);
}

#office-hours {
  width: 95%;
  border-collapse: collapse;
  margin: auto;
  color: #444;
  font-size: 0.9rem;
}

#office-hours thead {
  text-align: center;
  font-size: 0.65rem;
}

#office-hours th:nth-child(1) {
  text-align-last: left;
}

#office-hours tr td {
  text-align: center;
}

#office-hours tr td:nth-child(1) {
  font-weight: bold;
  width: 33%;
  text-align-last: left;
}


table#office-hours tr td, thead {
  border-bottom: 1px solid #444;
}

@media (min-width: 564px) {
  .navigate {
    display: none;
  }
}