main {
  max-width: 660px;
  margin: auto;
}

main h2 {
  font-size: clamp(1.6rem, 2.2vw, 3.5rem);
}

#services {
  border-top: none;
  padding: 0 2rem;
}

.services-item {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 16vh;

  margin-top: 1rem;

  background-image: 
    linear-gradient( 
      to right,
      var(--lch-white),
      var(--lch-light-grey)
    );

    border-radius: 0.75rem;
}

.services-item a {
  display: flex;
  align-items: center;
  
  min-height: 7rem;

  padding-right: 1rem;
  padding-left: 2rem;

  font-size: 1rem;
}

.services-item img {
  flex: 1;
  min-width: 2.5rem;
}

.services-item p {
  flex: 6;
  
  margin: 0;
  padding-left: 2rem;

  text-align: left;
  font-size: clamp(1.3rem, 1.5vw, 3rem);
}

#team {
  margin: 3rem;
}

.member {
  margin-top: 3rem;
}

/* TODO */
.member:not(:first-of-type) {
  border-top: 1px solid black;
}

.member h3 {
  font-weight: 750;
}

.member h4 {
  text-align: left;
}

.profile-picture {
  width: 80%;
  border-radius: 10%;

  margin-bottom: 1rem;
}

.about {
  font-style: italic;
  font-size: 85%;
}

ol {
  list-style: none;
  padding: 0;
}

.workshops li {
  margin-bottom: 2rem;
}

.workshops div {
  font-size: 90%;
  font-weight: 500;
  text-align: left;
}

.workshops div::before {
  content: "•";
  margin-right: 0.2rem;
}

.workshops p {
  text-align: left;
  padding-left: 1rem;
  font-size: 80%;

  margin-top: 0.45rem;
}


.services-item p:hover, .services-item p:active {
  color: var(--lch-hover);
}

.town {
  margin-bottom: 2.5rem;
}

a.navigate {
  background: var(--lch-brand-red);
  padding: 0.75rem;

  border-radius: 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  
  font-size: 0.8rem;
  color: var(--lch-white);
}

a.navigate:hover, a.navigate:active {
  padding: 0.7rem;
}

iframe {
  width: 100%;
  height: clamp(15rem, 80vw, 30rem);
}

#adress p {
  font-family: "Montseratt", sans-serif;
  font-weight: bold;
}

.office-hours {
  width: 95%;
  border-collapse: collapse;
  margin: auto;

  font-family: "Montserrat", sans-serif;
  color: #444;
  font-size: 0.9rem;
}

.office-hours thead {
  text-align: center;
  font-size: 0.65rem;
}

.office-hours th:nth-child(1) {
  text-align-last: left;
}

.office-hours tr td {
  text-align: center;
}

.office-hours tr td:nth-child(1) {
  font-weight: bold;
  width: 33%;
  text-align-last: left;
}


table.office-hours tr td, thead {
  border-bottom: 1px solid #444;
}

#contact a:hover, #contact a:active,
.created:hover, .created:active {
  text-decoration: underline;
}

@media (min-width: 564px) {
  .navigate {
    display: none;
  }
}