#menu-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--lch-transparent-grey);
}

#menu {
    height: 100%;
    width: 80%;
    max-width: 33rem;
    background: var(--lch-light-grey);
    padding: 2rem;
    color: white;
}

#menu a {
    font-size: clamp(1.5rem, 70%, 3rem);
}