.line {
    fill: var(--lch-white);
    transition: all 0.3s ease-in-out;
    
    transform-origin: center;
    transform-box: fill-box;
}

/* Keď má tlačidlo triedu "open" */
.menu-toggle.open .top {
  transform: translateY(25px) rotate(45deg);
}

.menu-toggle.open .middle {
  opacity: 0;
  transform: translateX(-20px); /* Jemný efekt odsunutia do strany */
}

.menu-toggle.open .bottom {
  transform: translateY(-25px) rotate(-45deg);
}