.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    
    background: var(--lch-brand-red);
    color: white;
}

.logo {
    width: clamp(3rem, 8%, 4rem);
    transition: width 0.3s ease;
}

.logo.scrolled {
    width: clamp(2rem, 7%, 3rem);
}

#btn-call::before{
    content: '0902 590 796';
}

#telephone {
    color: inherit;
}