.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    z-index: 1000;
    
    background: var(--lch-brand-red);
}

.navbar a{
    font-weight: 500;
    color: var(--lch-white);
    font-size: clamp(0.8rem, 0.9vw, 2rem);
}

.hamburger-container {
    flex: 2;
    display: flex;
    justify-content: flex-start;
}

.menu-toggle {
    background: inherit;
}

.line {
    fill: var(--lch-white);
    transition: all 0.3s ease-in-out;
    
    transform-origin: center;
    transform-box: fill-box;
}

/* Keď má tlačidlo triedu "open" */
.menu-toggle.open .top {
    transform: translateY(25px) rotate(45deg);
}

.menu-toggle.open .middle {
    opacity: 0;
    transform: translateX(-20px); /* Jemný efekt odsunutia do strany */
}

.menu-toggle.open .bottom {
    transform: translateY(-25px) rotate(-45deg);
}

.logo-container {
    flex: 1;
}

.logo-btn {
    display: block;
    margin: 0 auto;
    width: clamp(3rem, 8%, 4rem);
    transition: width 0.3s ease;
}

.logo-btn.scrolled {
    width: clamp(2rem, 7%, 3rem);
}

.phone-container {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

#phone-btn {
    display: flex;
    align-items: center;
}

@media (min-width: 980px) {
    .hamburger-container {
        display: none;
    }

    #phone-btn {
        gap: 0.5rem;
        font-size: clamp(0.9rem, 1vw, 2.5rem);
    }

    #phone-btn::after{
        content: '0902 590 796';
        text-wrap: nowrap;
        flex: 5;
    }

    #phone-btn svg {
        flex: 1;
    }
}