.pricelist {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
}

.pricelist caption {
    text-align-last: left;
    font-weight: bold;
}

#pricelist h3 {
    font-size: 1rem;
}

table.pricelist tr {
    background: var(--lch-row-odd);
    border-bottom: 1px solid #e5e5e5;
}

.pricelist tbody > :first-child {
  border-top: 1px solid #e5e5e5;
}

table.pricelist tr:nth-child(even) {
    background: var(--lch-row-even)
}

table.pricelist td {
    padding: 0.8rem 0.6rem;
}

table.pricelist td:last-child {
    text-align: right;
    white-space: nowrap;
    color: #444;
    font-weight: 600;
}

h3 small {
    font-size: 0.75em;
    color: #666;
}