/*
    #FCF9EA
    #660033
    #6a6a6a
*/

:root {
    --lch-creme: oklch(91.583% 0.0001 271.152);
    --lch-vanilla: oklch(98.039% 0.01985 97.565);
    --lch-row-odd: oklch(96.948% 0.05624 97.519);
    --lch-row-even: oklch(98.511% 0.00011 271.152);
    --lch-green: oklch(87.596% 0.03919 188.588);
    --lch-brand-red: oklch(33.063% 0.13414 359.727);
    --lch-brand-red-transparent: oklch(33.063% 0.13414 359.727 / 0.35);
    --lch-hover: oklch(52% 0.18 359.727);
    --lch-purple: oklch(80.915% 0.1083 19.651);
    --lch-purple-lighter: oklch(85.866% 0.07643 18.691);
    --lch-transparent-grey: oklch(59.987% 0.00007 271.152 / 0.747);
}