#warning {
    display: flex;
    justify-content: center;

    font-weight: bold;
    padding: 0.75rem 1.5rem;
}

#warning div, #warning aside {
    margin-left: auto;
}

button img {
    width: 3vw;
    max-width: 0.8rem;
}

.hidden {
    display: none !important;
}