<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Veterinárna ambulancia Komjatice">
    <meta property="og:description" content="Informácie o našej ambulancii">
    <title>🐶 Veterina 🩺</title>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" 
    integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" 
    crossorigin="anonymous">
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/modern-normalize.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="app">
        <div class="navbar" hx-get="components/navbar.html" hx-trigger="load"></div>

        <header hx-get="components/header.html" hx-trigger="load"></header>
        <main hx-get="components/main.html" hx-trigger="load"></main>
        <footer hx-get="components/footer.html" hx-trigger="load"></footer>
        
    </div>
</body>
</html>