<section class="socials">
    <a href="#">
        <img src="assets/svg-icons/socials/instagram.svg" alt="Instagram">
    </a>
    <a href="#">
        <img src="assets/svg-icons/socials/facebook.svg" alt="Facebook">
    </a>
</section>

<p>Vytvoril <a class="created" href="https://kilocharlie96.github.io/webamater/" target="_blank" rel="noopener noreferrer">Kristián Černák</a></p>

<p class="cookies">
    <small>Táto stránka používa len nevyhnutné cookies, potrebné na zabezpečenie jej správneho fungovania.</small>
</p>

<p class="copyright"><small>© Kristián Černák 2025</small></p>
