<section class="socials">
    <a href="https://www.instagram.com/baruvet_" target="_blank" rel="me nofollow noopener noreferrer">
        <img src="assets/svg-icons/socials/instagram.svg" alt="Instagram">
    </a>
    <a href="https://www.facebook.com/BaruVet" target="_blank" rel="me nofollow noopener noreferrer">
        <img src="assets/svg-icons/socials/facebook.svg" alt="Facebook">
    </a>
</section>

<p>Vytvoril <a class="created" href="https://github.com/kilocharlie96" target="_blank" rel="nofollow noopener noreferrer">Kristián Černák</a></p>

<p class="cookies">
    <small>Táto stránka používa len nevyhnutné cookies, potrebné na zabezpečenie jej správneho fungovania.</small>
</p>

<p class="copyright"><small>© BaruVet 2025</small></p>
