<h2>Galéria</h2>
<figure>
    <ul class="gallery">
        <li>
            <a href="assets/images/1.jpg" target="_blank" rel="noopener noreferrer" title="Klikni pre zväčšenie">
                <img class="thumbnail" src="assets/images/thumbnails/1.png" alt="image">
            </a>
                
        </li>

        <li>
            <a href="assets/images/2.jpg" target="_blank" rel="noopener noreferrer" title="Klikni pre zväčšenie">
                <img class="thumbnail" src="assets/images/thumbnails/2.png" alt="image">
            </a>
                
        </li>
    </ul>
</figure>