<h2>Galéria</h2>
<article>
    <ul class="gallery">
        <li>
            <a href="assets/images/1.jpg" target="_blank" rel="noopener noreferrer" title="Klikni pre zväčšenie">
                <img class="thumbnail" src="assets/images/thumbnails/1.png" alt="image">
            </a>
                
        </li>

        <li>
            <a href="assets/images/2.jpg" target="_blank" rel="noopener noreferrer" title="Klikni pre zväčšenie">
                <img class="thumbnail" src="assets/images/thumbnails/2.png" alt="image">
            </a>
                
        </li>

        <li>
            <a href="assets/images/3.jpg" target="_blank" rel="noopener noreferrer" title="Klikni pre zväčšenie">
                <img class="thumbnail" src="assets/images/thumbnails/3.png" alt="image">
            </a>
        </li>

        <li>
            <a href="assets/images/4.jpg" target="_blank" rel="noopener noreferrer" title="Klikni pre zväčšenie">
                <img class="thumbnail" src="assets/images/thumbnails/4.png" alt="image">
            </a>
        </li>

        <li>
            <a href="assets/images/5.jpg" target="_blank" rel="noopener noreferrer" title="Klikni pre zväčšenie">
                <img class="thumbnail" src="assets/images/thumbnails/5.png" alt="image">
            </a>
        </li>

        <li>
            <a href="assets/images/6.png" target="_blank" rel="noopener noreferrer" title="Klikni pre zväčšenie">
                <img class="thumbnail" src="assets/images/thumbnails/6.png" alt="image">
            </a>
        </li>
    </ul>
</article>