<div id="menu-container">
    <div id="menu" hx-get="components/menu.html" hx-trigger="load"></div>
</div>

<section id="about">
    <article>
        <h1>Veterinárna ambulancia Komjatice</h1>
    <p>
        <strong>🐾 Ponúkame komplexnú veterinárnu starostlivosť pre psy, mačky a drobné zvieratá. Medzi naše služby patria:</strong>
    </p>

    <ul>
        <li>preventívne prehliadky a očkovania</li>
        <li>diagnostika a liečba ochorení</li>
        <li>chirurgické zákroky</li>
        <li>stomatológia a dentálna hygiena</li>
        <li>laboratórne vyšetrenia</li>
        <li>poradenstvo v oblasti výživy a starostlivosti</li>
    </ul>
    </article>
</section>