<img src="assets/images/anya-prygunova-u2H8mUzoF2Q-unsplash.jpg" alt="">

<section id="opening-hours">
  <h2>Otváracie hodiny</h2>
  <ul>
    <li>Pondelok: 08:00 - 17:00</li>
    <li>Utorok: 08:00 - 17:00</li>
    <li>Streda: 08:00 - 17:00</li>
    <li>Štvrtok: 08:00 - 17:00</li>
    <li>Piatok: 08:00 - 17:00</li>
    <li>Sobota: 09:00 - 14:00</li>
    <li>Nedeľa: Zatvorené</li>
  </ul>
</section>

<section id="opening-hours2">
  <h2>Otváracie hodiny</h2>
  <dl>
    <dt>Pondelok</dt>
    <dd>08:00 - 17:00</dd>

    <dt>Utorok</dt>
    <dd>08:00 - 17:00</dd>

    <dt>Streda</dt>
    <dd>08:00 - 17:00</dd>

    <dt>Štvrtok</dt>
    <dd>08:00 - 17:00</dd>

    <dt>Piatok</dt>
    <dd>08:00 - 17:00</dd>

    <dt>Sobota</dt>
    <dd>09:00 - 14:00</dd>

    <dt>Nedeľa</dt>
    <dd>Zatvorené</dd>
  </dl>
</section>