<section id="about">
  <article id="services">
    <ul>
      <li><a href="#vaccination">Očkovania 💉</a></li>
      <li><a href="#checkup">Preventívne prehliadky ✅</a></li>
      <li><a href="#lab">Diagnostika a liečba 🩺</a></li>
      <li><a href="#lab">Laboratórne vyšetrenia 🧪</a></li>
      <li><a href="#surgery">Chirurgické zákroky 🩹</a></li>
      <li><a href="#nutrition">Poradenstvo v oblasti výživy a starostlivosti 🧡</a></li>
    </ul>
  </article>

  <article id="gallery" hx-get="components/gallery.html" hx-trigger="load"></article>

  <article id="contact">
    <h2>Ordinačné hodiny</h2>
    <ul>
      <li>Pondelok: ZATVORENÉ</li>
      <li>Utorok: 08:30 - 13:00 14:00 - 18:00</li>
      <li>Streda: 08:00 - 17:00</li>
      <li>Štvrtok: 08:00 - 17:00</li>
      <li>Piatok: 08:00 - 17:00</li>
      <li>Sobota: 09:00 - 14:00</li>
      <li>Nedeľa: Zatvorené</li>
    </ul>
  </article>
  
  <article id="pricelist" hx-get="components/pricelist.html" hx-trigger="load"></article>

  <article>
    <h2>Adresa</h2>
    <p>Vinohradská 89</p>
    <p>Komjatice</p>

    <figure class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d758.3420071972881!2d18.160655148051276!3d48.161047532834225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476b1755105dabd7%3A0x795737f79188c25b!2sVinohradsk%C3%A1%201170%2C%20941%2006%20Komjatice!5e1!3m2!1ssk!2ssk!4v1763022088649!5m2!1ssk!2ssk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </figure>
  </article>
  

  <article>
    <h2>Kontakt</h2>
    <p><a href="tel:+421909666666" aria-label="volať">0909 666 666</a></p>
    <p><a href="mailto:info@baruvet.sk">info@baruvet.sk</a></p>
  </article>


</section>


