<section>
  <article id="services" hx-get="components/services.html" hx-trigger="load"></article>

  <article id="pricelist" hx-get="components/pricelist.html" hx-trigger="load"></article>

  <article>
    <h2 id="office-hours">Ordinačné hodiny</h2>
    <table class="office-hours">
      <thead>
        <tr>
          <th scope="col">Deň</th>
          <th scope="col">Dopoludnie</th>
          <th scope="col">Popoludnie</th>
        </tr>
      </thead>

      <tr><td>Pondelok</td><td>Zatvorené</td><td>Zatvorené</td></tr>
      <tr><td>Utorok</td><td>8:30 - 13:00</td><td>14:00 - 18:00</td></tr>
      <tr><td>Streda</td><td>8:30 - 13:00</td><td>14:00 - 16:30</td></tr>
      <tr><td>Štvrtok</td><td>8:30 - 13:00</td><td>14:00 - 16:30</td></tr>
      <tr><td>Piatok</td><td>8:30 - 13:00</td><td>14:00 - 16:30</td></tr>
      <tr><td>Sobota</td><td>9:00 - 12:00</td><td>Zatvorené</td></tr>
      <tr><td>Nedeľa</td><td>Zatvorené</td><td>Zatvorené</td></tr>
    </table>
  </article>

  <article id="adress">
    <h2>Adresa</h2>
    <p>Vinohradská 1170/89</p>
    <p class="town">941 06 Komjatice</p>

    <a class="navigate" href="https://www.google.com/maps/dir/?api=1&destination=Veterinárna+ambulancia+-+BaruVet+Komjatice&destination_place_id=ChIJPf5dXAAXa0cR42kL-nTGBF8" target="_blank" rel="noopener noreferrer">Navigovať</a>
    <figure>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1966.9349897678565!2d18.16367519612557!3d48.16002916612985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476b17005c5dfe3d%3A0x5f04c674fa0b69e3!2sVeterin%C3%A1rna%20ambulancia%20-%20BaruVet!5e1!3m2!1ssk!2ssk!4v1770305247597!5m2!1ssk!2ssk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </figure>
  </article>

  <article id="contact">
    <h2>Kontakt</h2>
    <p><a href="tel:+421902590796" aria-label="volať">0902 590 796</a></p>
    <p><a href="mailto:info@baruvet.sk">info@baruvet.sk</a></p>
  </article>

</section>


