<h2>Menu</h2>
<ul>
    <li>
        <a href="#welcome" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">O nás</a>
    </li>
    <li>
        <a href="#gallery" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Galéria</a>
    </li>
    <li>
        <a href="#contact" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Kontakt</a>
    </li>
    <li>
        <a href="#pricelist" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Cenník</a>
    </li>
</ul>