<ul class="menu">
    <li>
        <a href="#welcome" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Domov</a>
    </li>
    <li>
        <a href="#services" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Naše služby</a>
    </li>
    <li>
        <a href="#pricelist" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Orientačný cenník</a>
    </li>
    <li>
        <a href="#adress" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Adresa</a>
    </li>
        <li>
        <a href="#office-hours" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Ordinačné hodiny</a>
    </li>
    <li>
        <a href="#contact" hx-get="components/btn-open.html" hx-target="#btn-menu" onclick="closeMenu()">Kontakt</a>
    </li>
</ul>