<ul class="menu">
    <li>
        <a href="#services" onclick="closeMenu()">Naše služby</a>
    </li>
    <li>
        <a href="#team" onclick="closeMenu()">Náš tím</a>
    </li>
    <li>
        <a href="#pricelist" onclick="closeMenu()">Orientačný cenník</a>
    </li>
    <li>
        <a href="#office-hours" onclick="closeMenu()">Ordinačné hodiny</a>
    </li>
    <li>
        <a href="#adress" onclick="closeMenu()">Adresa</a>
    </li>
    <li>
        <a href="#contact" onclick="closeMenu()">Kontakt</a>
    </li>
</ul>