<h2>Cenník</h2>

<dl>
    <h3 id="vaccination">Očkovanie</h3>
    <dt>Besnota</dt>
    <dd>18 €</dd>

    <dt>Ovčie kiahne</dt>
    <dd>180 €</dd>

    <dt>Covid-19</dt>
    <dd>110 €</dd>

    <dt>Záškrt</dt>
    <dd>60 €</dd>

    <h3 id="checkup">Preventívne prehliadky <small>vrátanie laboratórnych vyšetrení</small></h3>
    <dt>Zviera do 5 kg</dt>
    <dd>45 €</dd>

    <dt>Zviera do 20 kg</dt>
    <dd>55 €</dd>

    <dt>Zviera do 50 kg</dt>
    <dd>85 €</dd>

    <dt>Zviera od 50 kg</dt>
    <dd>Individuálne</dd>

    <h3 id="lab">Laboratórne vyšetrenia</h3>
    <dt>Krv</dt>
    <dd>180 €</dd>

    <dt>Moč</dt>
    <dd>110 €</dd>

    <dt>Stolica</dt>
    <dd>60 €</dd>

    <h3 id="diagnostics">Špecializované vyšetrenia</h3>
    <dt>Sono</dt>
    <dd>30 €</dd>

    <dt>Kolonoskopia</dt>
    <dd>40 €</dd>

    <h3 id="surgery">Chirurgické zákroky</h3>
    <dt>Vybratie znamienka</dt>
    <dd>180 €</dd>

    <dt>Operácia kľúčnej kosti</dt>
    <dd>110 €</dd>


    <h3 id="nutrition">Výživové poradenstvo</h3>
    <dt>Vytvorenie jedálnička</dt>
    <dd>30 €</dd>
</dl>
</dl>
</dl>