<h2>Cenník</h2>

<h3 id="vaccination">Očkovanie</h3>
<table>
    <tr><td>Besnota</td><td>18 €</td></tr>
    <tr><td>Ovčie kiahne</td><td>180 €</td></tr>
    <tr><td>Covid-19</td><td>110 €</td></tr>
    <tr><td>Záškrt</td><td>60 €</td></tr>
</table>

<h3 id="checkup">Preventívne prehliadky <small>vrátanie laboratórnych vyšetrení</small></h3>
<table>
    <tr><td>Zviera do 5 kg</td><td>45 €</td></tr>
    <tr><td>Zviera do 20 kg</td><td>55 €</td></tr>
    <tr><td>Zviera do 50 kg</td><td>85 €</td></tr>
    <tr><td>Zviera od 50 kg</td><td>Individuálne</td></tr>
</table>

<h3 id="lab">Laboratórne vyšetrenia</h3>
<table>
    <tr><td>Krv</td><td>180 €</td></tr>
    <tr><td>Moč</td><td>110 €</td></tr>
    <tr><td>Stolica</td><td>60 €</td></tr>
</table>

<h3 id="diagnostics">Špecializované vyšetrenia</h3>
<table>
    <tr><td>Sono</td><td>30 €</td></tr>
    <tr><td>Kolonoskopia</td><td>40 €</td></tr>
</table>

<h3 id="surgery">Chirurgické zákroky</h3>
<table>
    <tr><td>Vybratie znamienka</td><td>180 €</td></tr>
    <tr><td>Operácia kľúčnej kosti</td><td>110 €</td></tr>
</table>

<h3 id="nutrition">Výživové poradenstvo</h3>
<table>
    <tr><td>Vytvorenie jedálnička</td><td>30 €</td></tr>
</table>
