<ul>
    <li class="has-flex-center">
    <a href="#vakcinacia">Vakcinácia</a>
    <img src="assets/buttons/vaccination.jpg" alt="Vakcinácia">
    </li>

    <li class="has-flex-center">
        <img src="assets/buttons/checkup.jpg" alt="Základné úkony a diagnostika">
        <a href="#zakladne-ukony-a-diagnostika">Základné úkony a diagnostika</a>
    </li>

    <li class="has-flex-center">
        <a href="#vysetrenie-krvi">Vyšetrenie krvi</a>
        <img src="assets/buttons/lab.png" alt="Vyšetrenie krvi">
    </li>
    
    <li class="has-flex-center">
        <img src="assets/buttons/surgery.jpg" alt="Ošetrenie uší">
        <a href="#osetrenie-usi">Ošetrenie uší</a>
    </li>
    
    <li class="has-flex-center">
        <a href="#chirurgia-makkych-tkaniv">Chirurgia mäkkých tkanív</a>
        <img src="assets/buttons/nutrition.jpg" alt="Chirurgia mäkkých tkanív">
    </li>
</ul>