<ul>
    <li>
        <a class="services-item" href="#vakcinacia">
            <img src="/assets/svg-icons/services/injection-svgrepo-com.svg" alt="">
            <h2>Vakcinácia</h2>
        </a>
    </li>

    <li>
        <a class="services-item" href="#zakladne-ukony-a-diagnostika">
            <img src="/assets/svg-icons/services/stethoscope-svgrepo-com.svg" alt="">
            <h2>Základné úkony a diagnostika</h2>
        </a>
    </li>

    <li>
        <a class="services-item" href="#vysetrenie-krvi">
            <img src="/assets/svg-icons/services/drop-svgrepo-com.svg" alt="">
            <h2>Vyšetrenie krvi</h2>
        </a>
    </li>
    
    <li>
        <a class="services-item" href="#osetrenie-usi">Ošetrenie uší</a>
    </li>
    
    <li>
        <a class="services-item" href="#chirurgia-makkych-tkaniv">Chirurgia mäkkých tkanív</a>
    </li>
</ul>