<ul>
    <li class="has-flex-center">
    <a href="#vaccination">Očkovania</a>
    <img src="assets/buttons/vaccination.jpg" alt="Vakcinácia">
    </li>

    <li class="has-flex-center">
        <img src="assets/buttons/checkup.jpg" alt="Preventívne prehliadky">
        <a href="#checkup">Preventívne prehliadky</a>
    </li>

    <li class="has-flex-center">
        <a href="#lab">Diagnostika a liečba</a>
        <img src="assets/buttons/lab.png" alt="Diagnostika a liečba">
    </li>
    
    <li class="has-flex-center">
        <img src="assets/buttons/surgery.jpg" alt="Poradenstvo">
        <a href="#surgery">Chirurgické zákroky</a>
    </li>
    
    <li class="has-flex-center">
        <a href="#nutrition">Poradenstvo</a>
        <img src="assets/buttons/nutrition.jpg" alt="Poradenstvo">
    </li>
</ul>