<h2>Náš tím</h2>

<div class="member">
    <h3>MVDr. Barbora Korgová</h3>
    <img class="profile-picture" src="assets/images/barbi.jpg" alt="Profilová fotka">
    <p class="position">Interná medicína psov a mačiek, chirurgia mäkkých tkanív, abdominálna sonografia</p>
    <p class="about">
    „Štúdium som ukončila na Veterinárnej a farmaceutickej univerzite v Brne v roku 2021. Počas
    štúdia som praxovala na pracovisku v ČR a v Nových Zámkoch. Po ukončení štúdia som
    pracovala vo veterinárnej ambulancii Uni-Vet Levice do roku 2023, kde som sa venovala
    najmä internej medicíne psov a mačiek. Následne som prestúpila na Veterinárnu polikliniku v
    Nových zámkoch, kde som sa začala venovať aj chirurgii mäkkých tkanív. V súčasnej dobe
    som spoluzakladateľkou veterinárnej ambulancie BaruVet.“
    </p>

    <figure>
    <h4>Absolvované semináre a wokshopy:</h4>
    <ol class="workshops">
        <li>
            <div>2020 Vetino Academy, Jaggy Praha</div>
            <p>Gastrointestinálne ochorenia z pohľadu internej medicíny, chirurgie a neurológie</p>
        </li>
        <li>
            <div>2022 Vetmeeting Brno</div>
            <p>Akútne stavy dutiny brušnej, hryzné poranenia, BOAS, MVDr.Jan Beránek DipECVS CertCAAPR MRCVS, akútne stavy v neurológii, traumy mozgu, MVDr.Aleš Tomek DipECVN</p>
        </li>
        <li>
            <div>2023 Workshop RTG dutiny hrudnej, Bratislava</div>
            <p>MVDr.Pavel Proks,Ph.D.</p>
        </li>
        <li>
            <div>2023 VETfair, Hradec Králové</div>
            <p>Dermatológia a parazitológia malých zvierat, Prof.MVDr.David Modrý,Ph.D. a členovia ČAVD</p>
        </li>
        <li>
            <div>2023 Upskill.vet</div>
            <p>Akútna (pohotovostná) chirurgia, Mark Longley BVM&S MSc GPCertSAS Dipl.ECVS MRCVS</p>
        </li>
        <li>
            <div>2024 EM Medical s.r.o, Moravský Svätý Ján</div>
            <p>USG vyšetrenie brušnej dutiny, MVDr. Bc. Klaudia Duba</p>
        </li>
        <li>
            <div>2024 Pharmacopola, Žiar nad Hronom</div>
            <p>Praktický sonografický workshop abdomenu, MVDr. Matúš Pagáč, MVDr. Carlos Agudelo Ramiréz,PhD., MVDr. Peter Nemec</p>
        </li>
        <li>
            <div>2025 EM Medical s.r.o, Moravský Svätý Ján</div>
            <p>USG vyšetrenie brušnej dutiny pre pokročilých, odber bioptátov a USG krku, miazgových uzlín, MVDr. Bc. Klaudia Duba</p>
        </li>
    </ol>
    </figure>
</div>

<div class="member">
    <h3>Ing. Katarína Komová</h3>
    <img class="profile-picture" src="assets/images/katka.jpg" alt="Profilová fotka">
    <p class="position">Veterinárna sestra</p>
    <p class="about">
        „V roku 2014 som ukončila bakalárske štúdium kynológie na UVLF, následne som pokračovala v
        inžinierskom štúdiu chovateľstva na SPU. Po škole som vykonávala prax vo veterinárnej ambulancii v
        Šuranoch. Viac ako 5 rokov som sa venovala práci s dravcami - chov, tréning, letové ukážky pre
        verejnosť. V rokoch 2022-2025 som pracovala na Veterinárnej poliklinike v Nových Zámkoch ako
        veterinárna sestra. V súčasnej dobe som spoluzakladateľkou veterinárnej ambulancie BaruVet.“
    </p>

    <h4>Absolvované semináre a wokshopy:</h4>
    <ol class="workshops">
        <li>
            <div>2024 Nová Veterinária, Nitra</div>
            <p>Základy osobného a time manažmentu, základy efektívnej komunikácie, triáž, sesterské kliniky, základy marketingu a predaja</p>
        </li>
        <li>
            <div>2024 Jarný kongres, Senec</div>
            <p>Laboratórne procedúry v praxi, základné ošetrovateľské úkony, manipulácia a fixácia zvierat, hodnotenie rizika, ochrana a bezpečnosť práce</p>
        </li>
        <li>
            <div>2024 Nová Veterinária, Nitra</div>
            <p>Starostlivosť o hospitalizovaného pacienta, infúzie a ich kalkulácie, príprava a asistencia na diagnostických zobrazovacích technikách, komunikácia s majiteľom, welfare zvierat v každodennej praxi</p>
        </li>
        <li>
            <div>2024 Upskill.vet, Bratislava</div>
            <p>Praktický kurz Veterinárne sestry - N.Waring - BSc (Hons) RVN HE Dip CVN HE Dip AVN HE Dip Ed QTLD, P. Hill - RVN VTS</p>
        </li>
        <li>
            <div>Jarný kongres 2025, Senec</div>
            <p>Príprava pacienta na chirurgický zákrok, inštrumentárium, dezinfekcia, asepsia, asistencia pri chirurgických zákrokoch, postoperačná starostlivosť</p>
        </li>
    </ol>
</div>